<nav class="nav" aria-label="Menu principale">
  <div class="brand">
    <a href="index.html" class="brand__link" aria-label="RM Line Home">
      <img class="brand__logo" src="assets/img/logo.png" alt="RM Line">
    </a>
  </div>

  <button class="nav__toggle" type="button" aria-expanded="false" aria-controls="navMenu">
    <span class="sr-only">Apri menu</span>
    <span class="burger"></span>
  </button>

  <div class="nav__menu" id="navMenu">
    <a class="nav__link" href="index.html" data-nav="index.html">Home</a>
    <a class="nav__link" href="about.html" data-nav="about.html">Chi siamo</a>
    <a class="nav__link nav__link--products" href="products.html" data-nav="products.html">
      <span class="nav__link-text">Prodotti</span>
      <span class="nav__link-icon" aria-hidden="true">
        <img src="assets/img/icons/produtc.gif" alt="">
      </span>
    </a>
    <a class="nav__link" href="details.html" data-nav="details.html">Dettagli</a>
    <a class="nav__link" href="contact.html" data-nav="contact.html">Contatti</a>
  </div>
</nav>
